
<h1>New York Times Article Scrubber</h1>
<h2>Search for articles of intress</h2>

<hr>

 <div class = "search_div">
 <form class="search" action="/" method="POST" >
   <div class="search lables">
    <lable for "search">Topic:</lable>
    <input type="text" id="topic" name="topic_name">
    <lable for "start_year">Start Year</lable>
    <input type="text" id="start" name="start_year">
    <lable for "end_Year">End Year</lable>
    <input type="text" id="end" name="end_year">
   </div>
   <div class="search_buton">
    <button type="submit">Search</button>
   </div> 
 </form> 

  <div class"search_results">
  {{#each result}}
   <li>
    {{this.search_results}}
   </li>

</div>






