

<h1>Jokes of the Days</h1>
<h2></h2>

<section class="container">
  <div id="cube">


    <div class="front"><br>Mikee  {{jokeArray[0]}}
      <button class="front_button">Save</button>
   
    </div>
    <div class="back"><br>Mikee
     <button class="front_button">Save</button>
    </div>
    <div class="right"><br>
     <button class="front_button">Save</button>
    </div>
    <div class="left"><br>Mikee
     <button class="front_button">Save</button>
    </div>



    <div class="top"><br>Mikee
     <button class="front_button">Save</button>
    </div>
    <div class="bottom"><br>Mikee
     <button class="front_button">Save</button>
    </div>
  </div>
</section>
<hr>
<p>
<button class="show-front">1</button>
<button class="show-back">2</button>
<button></button>
</p>